{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="i">
        <div class="img">
            <img src="{% static 'images/2.jpg' %}" alt="priya">
        </div>
        <div class="content">
            <h1>Juliet Rose – Rarest Rose </h1>
            <p>The Juliet Rose is not only considered to be one of the rarest flowers in the world, but it’s also the rarest rose in the world because it took 15 years for rose breeder David Austin to cultivate the flower in England. Additionally, it cost him a whopping $4.3 million to do so. A type of tea rose, the Juliet Rose has peach and apricot-colored petals. In full bloom, they open to reveal smaller blooms at the heart.</p>
             <h4>Some Interesting Facts:</h4>
             <p>It debuted in the prestigious Chelsea Flower Show in London in 2006.</p>
        </div>
    </div>

    <!-- ======================2nd================ -->
     <br>
     <br>
    <div class="i">
       
        <div class="content" >
            <h1>Lush Red  </h1>
            <p>This lush red flower was brought from China to the U.K. more than 200 years ago, and, though it survived during bombings in World War II, it is considered extinct in the wild. The only other variety of the camellia — named for the London gardener who collected it in 1804 — is found in New Zealand. The flower blooms a deep pink for about a month in the spring.
                 The Middlemist and several other rare camellias are housed in a restored conservatory in Britain.</p>
             <h4>Some Interesting Facts:</h4>
             <p>It debuted in the prestigious Chelsea Flower Show in London in 2006.</p>
        </div>
        <div class="img">
            <img src="{% static 'images/3.jpg' %}" alt="priya">
        </div>
    </div>
</body>
</html>